.card_area_class{
    height: 740px;
    width: 270px;
}
.text_submit{
    width: 300px;
}
.bubble_sent {
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    background:rgb(63, 136, 204);
    border-bottom-left-radius: 20px;
    padding-bottom: 13px;
    margin-left: auto;
    padding: 12px;
    max-width: 100%;
}
.bubble_received{
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
    background: #f5f5f5;
    border-bottom-left-radius: 20px;
    padding-bottom: 13px;
    margin-right: auto;
    padding: 12px;
    max-width: 100%;
}
.messages {
    color: rgba(0,0,0,.87);
    white-space: pre-wrap;
    line-height: 1.2;
    font-family: Muli,Helvetica Neue,Arial,sans-serif;
    line-height: 1.4!important;
    letter-spacing: -.1px!important;
}
.messages_sent {
    color: white;
    white-space: pre-wrap;
    line-height: 1.2;
    font-family: Muli,Helvetica Neue,Arial,sans-serif;
    line-height: 1.4!important;
    letter-spacing: -.1px!important;
}

.submitIcon{
    color: rgb(63, 136, 204);
}

.message-row {
    padding-top: 20px;
    margin-top: 20px;
    padding-left: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 16px 4px;
    background-color: transparent;
}
