<div class="login-page">
  <div class="content px20">
    <form [formGroup]="validationForm" class="login-form" (ngSubmit)="onLogin()">
      <div class="text-center">
        <h2 class="app-name">Login</h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput mdbValidate formControlName="email" minLength="8" maxLength="30" type="email" class="form-control" id="formemail" placeholder="Email">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput mdbValidate formControlName="password" minLength="10" maxLength="25" type="password" class="form-control" id="formPassword" placeholder="Password">
          </mat-form-field>
        </div>
      </div>
      <mat-dialog-content class="error">
        <mat-error *ngIf="isLoginFailed">Email/Password incorreto!</mat-error>
      </mat-dialog-content>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="mt20 mb20">
        <mat-checkbox color="primary" [ngStyle.xs]="{'margin-bottom.px': 10}">Remember Me</mat-checkbox>
        <a href="passrecover">Forgot Password</a>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" class="w-100">Login</button>
        </div>
      </div>

    </form>
  </div>
</div>
