.mat-column-progress {
    max-width: 40px;
  }
  
  .example-button-row{
    margin: 40px 40px 20px 0;
  }
  
  .register{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .editar {
    background-color: #ffffff;
    color: #fd7200;
  }
  
  .delete {
    color: #e71818;
    background-color: #ffffff;
  }