<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
    <button class="button" (click)="deleteCoords()" id="button"mat-flat-button color="warn" block> <span class="material-icons">
      delete
    </span></button>
    <button id="settings"class="settings" (click)="listTrucks()" mat-icon-button [matMenuTriggerFor]="settings">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #settings="matMenu" [overlapTrigger]="false">
      <form>
        <button class="addRoute" id="addRoute" mat-menu-item [matMenuTriggerFor]="selectTruckDriver">
          <mat-icon class="addRoute" id="addRoute" >alt_route</mat-icon>
          <span>Enviar Rota</span>
        </button>
        <mat-menu #selectTruckDriver="matMenu"> 
          <div *ngFor="let truckDrivers of arrayTruckDrivers">
            <button  [value]="truckDrivers.value" mat-menu-item [matMenuTriggerFor]="sendRoute" >{{truckDrivers.first_name}}</button>
            <mat-menu #sendRoute="matMenu"> 
              <h5 class="trailerStyle" id="trailerStyle">Reboque:</h5>
              <div *ngFor="let trailers of arrayTrailers">
                <button [routerLinkActive]="'active'" mat-menu-item (click)="addCoordTruck(trailers.plate,truckDrivers.ID, trailers.latitude, trailers.longitude)" >{{trailers.plate}} </button>
              </div>
            </mat-menu>
          </div>
        </mat-menu>
     </form>
      <button (click)="clearMap()" id="deleteText" mat-menu-item [routerLinkActive]="'active'">
        <mat-icon class="delete" id="delete" >delete</mat-icon>
        <span>Eliminar todas as rotas</span>
      </button>
    </mat-menu>
  </div>
</div>