.mat-column-progress {
  max-width: 40px;
}
.red{
  color:rgb(197, 52, 52);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: rgb(47, 143, 223);
  color: white
}

